.body {
  font-family: "Nunito", sans-serif;
}

#tag {
  font-weight: 700;
  padding: 20px;
  font-size: 30px;
  margin-left: -60px;
}

.navbar-nav {
  margin-right: -60px;
}
.overlay-container {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.overlay-text {
  font-family: "Nunito", sans-serif;
  color: white;
  position: absolute;
  top: 50%; /* Adjusted for responsiveness */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center horizontally */
  text-align: center;
  max-width: 80%;
}

.title {
  font-size: 72px;
}

.title-description {
  font-size: 24px;
  text-align: center;
}

.collection-container {
  text-align: center;
  margin: 130px 100px;
}

.recipe-title-page-1 {
  line-height: 3;
  text-align: start;
  margin-left: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 28px;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 72px;
  font-family: "Nunito", sans-serif;
}

.about-section {
  margin-top: 80px;
  margin-left: 220px;
  padding-right: 100px;
}
.portrait {
  position: relative;
}

#name {
  font-size: 64px;
  font-family: "Nunito", sans-serif;
  padding-top: 50px;
  margin-left: -20px;
  position: relative;
}

#about-paragraph {
  line-height: 2;
  font-size: 18px;
  margin-right: 10px;
  margin-left: -30px;
  position: relative;
}

.follow-me {
  font-size: 18px;
  margin-right: 10px;
  margin-left: -15px;
  position: relative;
}

.follow-me-thumbnail {
  padding: 0px;
  width: 14px;
  margin: 10px;
  margin-top: 5px;
}
.favorites-container {
  padding-bottom: 40px;
  margin-left: 80px;
}

.favorite-recipe {
  font-size: 36px;
  text-align: center;
  margin-top: 120px;
}

.favorites-title {
  font-size: 24px;
}
.favorites-description {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 60px;
  margin-right: 65px;
}

.footer-container {
  background-color: #f4effb;
  display: block;
  flex-direction: row;
  height: 100px;
  text-align: center;
}

.tag-2 {
  color: black;
  font-family: "Nunito", sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-top: 35px;
  text-align: start;
  margin-left: 80px;
}

.footer-thumbnail {
  width: 16px;
  padding-top: 35px;
  margin: 10px;
}

.footer-copyright {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  padding-top: 45px;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  #tag {
    padding: 40px;
    padding-left: 40px;
    font-size: 25px;
    margin-left: -30px;
  }

  .overlay-text {
    font-size: 14px; /* Adjust font size for smaller screens */
    line-height: 0.5;
    top: 1px;
  }
  .overlay {
    width: 100%;
  }

  .title {
    font-size: 40px;
    margin-top: 40%;
  }

  .title-description {
    display: none;
  }

  .recipe-title-page-1 {
    text-align: center;
    font-size: 20px;
  }
  .collection-container {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .col {
    text-align: center;
  }

  .food-image-homepage {
    width: 300px;
  }

  h1 {
    font-size: 40px;
  }

  .about-section {
    margin-top: 50px;
    text-align: center;
    margin-left: 120px;
  }
  .portrait {
    width: 300px;
    text-align: center;
    margin-top: -50px;
  }
  #name {
    font-size: 30px;
    text-align: center;
    margin-left: -185%;
    margin-top: 230px;
  }
  #about-paragraph {
    margin-top: -20px;
    margin-left: -185%;
    padding-right: 50px;
  }

  .follow-me {
    font-size: 12px;
    margin-left: -390px;
  }

  .follow-me-thumbnail {
    padding: 0px;
    width: 13px;
    margin: 5px;
    margin-top: 5px;
  }
  .favorites-container {
    text-align: center;
    margin: 0;
  }
  .favorite-recipe-image {
    display: none;
  }

  .favorite-recipe {
    font-size: 28px;
    text-align: center;
    margin-top: 100px;
    font-weight: bolder;
  }

  .favorites-title {
    text-align: center;
    display: block;
    font-size: 20px;
    padding-bottom: 20px;
  }

  .favorites-description {
    text-align: center;
    margin-left: 55px;
    padding-bottom: 20px;
  }

  .footer-container {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .favorite-recipe-image {
    max-height: 200px;
  }
  .favorites-description {
    margin-left: 50px;
  }
}

@media screen and (min-width: 576px) and (max-width: 601px) {
  #name {
    margin-top: 0%;
    margin-left: -130px;
  }

  #about-paragraph {
    text-align: center;
    margin-top: 0%;
    margin-left: -70px;
  }

  .follow-me {
    text-align: center;
    margin-left: -120px;
  }
}

@media screen and (min-width: 600px) {
  .favorites-container {
    text-align: center;
    margin: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
  .favorite-recipe-image {
    max-height: 250px;
  }
  .favorites-description {
    margin-left: 50px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .portrait {
    margin-left: -80px;
  }
}
